name: Test cargo publish

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - env:
          CARGO_BUILD_JOBS: 1
          CARGO_INCREMENTAL: 0
          RUSTFLAGS: -C debuginfo=0 -C codegen-units=1
        run: cargo test -j 1 -- --test-threads=1
      - env:
          CARGO_BUILD_JOBS: 1
          CARGO_INCREMENTAL: 0
          RUSTFLAGS: -C debuginfo=0 -C codegen-units=1
        run: cargo publish --dry-run
